@import './settings';

.button,
a.button {
  background-color: $button-color !important;
  color: #fff !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  @extend %custom-font;

  &:hover {
    background-color: darken($button-color, 7%) !important;
  }
}
