@import './foundation/functions';
@import './settings';

.classes-overview {
  border-bottom: $border;
}

.all-classes {
  padding-bottom: 1.5rem;
}

.classes {
  padding-bottom: 1rem;

  .class {
    padding-bottom: 1rem;

    .class-date {
      font-size: rem-calc(24);
    }

    .days-of-the-week {
      font-size: rem-calc(20);
    }

    .time {
      font-size: rem-calc(22);
    }
  }

}
