@import './foundation/functions';
@import './settings';

.classes-overview {
  border-bottom: $border;
}

.all-classes {
  padding-bottom: 1.5rem;
  padding-top: 1rem;

  .book-now {
    margin-bottom: 0.375rem;
  }
}

.classes {
  padding-bottom: 0.25rem;

  .class {
    padding-bottom: 1rem;

    .class-date {
      font-size: 1.25rem;
    }

    .days-of-the-week,
    .time {
      font-size: 0.875rem;
    }

    // .time {
    //   font-size: 1rem;
    // }
  }

}
