%background-color {
  background-color: $background-color;
}

%min-height-100 {
  min-height:100%;
}

%header-color {
  color: $header-color;
}

body {
  @extend %background-color;
  background-image: image-url('bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height:100%;
  @extend %min-height-100;
}

body {
  @extend %min-height-100;
}

.sill-life {
  @extend %min-height-100;

  &.with-background {
    @extend %background-color;
  }

}

h1, h2, h3, h4, h5, h6 {
  @extend %header-color;
}

.content {
  margin: 0 2rem;
  padding-top: 1rem;
  background-color: #fff;
}
