@import './settings';

html {
  //height:100%;
  //@extend %min-height-100;
}

body {
  @extend %background-color;
  //@extend %min-height-100;
  @extend %custom-font;
  background-image: image-url('bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  padding: 0;
  margin: 0;
  border-color: $border-color;
  border-style: $border-style;
}

@each $font-weight in 100, 300, 400, 700 {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}

@each $pos in top, bottom, right, left {
  .no-padding-#{$pos} {
    padding-#{$pos}: 0 !important;
  }
}

@each $pos in top, bottom, right, left {
  .border-#{$pos} {
    border: $border !important;
  }
}

.bg-white {
  background-color: #fff !important;
}

.header-color {
  color: $header-color !important;
}

.header-color-2 {
  color: $header-color-2 !important;
}

.sill-life {
  @extend %min-height-100;
  padding-bottom: 0.5rem;

  &.with-background {
    @extend %background-color;
  }

}

.content {
  padding: 0 2rem 2rem 2rem;
}

.content-padding-side {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-padding-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media #{$small-only} {
  .content,
  .content-padding-side {
    padding-left: 0;
    padding-right: 0;
  }
}


.narrative {

  img {
    padding-bottom: 1rem;
  }

  a {
    color: $header-color-2;

    // &:hover {
    //   color: #000;
    // }
  }
}
