@import './settings';

html {
  height:100%;
  @extend %min-height-100;
}

body {
  @extend %background-color;
  @extend %min-height-100;
  @extend %custom-font;
  background-image: image-url('bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@each $font-weight in 100, 300, 400, 700 {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}

.header-color {
  color: $header-color !important;
}

.header-color-2 {
  color: $header-color-2 !important;
}

.sill-life {
  @extend %min-height-100;

  &.with-background {
    @extend %background-color;
  }

}

.content {
  margin: 0 2rem;
  padding-top: 1rem;
  background-color: #fff;
}

.content-padding-side {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-padding-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.narrative {

  img {
    padding-bottom: 1rem;
  }

}
