@import './foundation/functions';

.header {
  position: relative;

  .logo {
    text-align: center;
    padding-top: 20px;
  }

  .main-nav {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    //margin-top: -5px;

    a {
      color: #fff;
      font-size: rem-calc(20);
      font-weight: 100;
    }

    a:hover,
    .current-menu-item a {
      color: #000;
    }

  }

}
