@import './settings';

.terrarium {
  padding-bottom: 2rem;
}

.terrarium-title {
  @extend %header-color-2;
  border-top: $border;
  padding-top: 2rem;
}

.care-instructions {

  > h3 {
    font-size: 1.25rem;
    margin-bottom: 0.313rem;
  }

}
