@import './settings';

.terrarium {
  padding-bottom: 2rem;

  .description {
    margin-top: -0.25rem;
  }
}

.terrarium-title {
  @extend %header-color-2;
  border-top: $border;
  padding-top: 2rem;

  .no-border-title & {
    border: 0;
    padding-top: 1rem;
  }
}

.care-instructions {

  > h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

}

.gallery-main-image-wrapper {
  position: relative;
  padding-bottom: 1rem;
}

.order-terrarium {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
