@import './foundation/functions';
@import './settings';

$header-font-family: $custom-font;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: $header-color;
$header-line-height: 1;
$header-top-margin: 0rem;
$header-bottom-margin: 1.25rem;
$header-text-rendering: optimizeLegibility;

$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(30);
$h3-font-size: rem-calc(26);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(20);
$h6-font-size: 1rem;

$paragraph-font-weight: 300;
